@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-clip: text;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 106%;
}

.first-text-m {
  font-weight: 500;
  margin-top: 1.5vw;
  background-color: #ffffff;
  border-radius: 1vw;
  height: auto;
  text-align: center;
}

.first-text-m p {
  padding-left: 0.5vw;
}

.texto-ordem {
  display: flex;
}

.imagens {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
}

.imagem-kiay {
  width: 20%;
  height: 4%;
  margin-left: 4vw;
}

.kiay {
  margin-left: 7vw;
  margin-left: 18.4vw;
}

.imagem-sofa {
  width: 18.56%;
  margin-right: 4vw;
}

.sofa {
  margin-left: 21.5vw;
}

.imagem-tatto {
  width: 20%;
  margin-left: 39.2vw;
  padding-top: 1vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.container button {
  box-shadow: 0px 0.052vw 0px 0px #ffffff;
  background: linear-gradient(to bottom, #36e9cb 5%, #36e9cb 100%);
  background-color: #eb50d9;
  border-radius: 0.313vw;
  border: 0.052vw solid #fafafa;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 0.781vw;
  font-weight: bold;
  padding: 0.313vw 1.25vw;
  text-decoration: none;
  text-shadow: 0px 0.052vw 0px #ffffff;
}

button:hover {
  background: linear-gradient(to bottom, #30d1b6 5%, #30d1b6 100%);
  background-color: #ffff00;
}

button:active {
  position: relative;
  top: 0.052vw;
}

.avanço {
  text-align: center;
}

.firts-h {
  text-align: center;
}

.second-h {
  text-align: center;
}

.texto-grande {
  width: auto;
}

.outras {
  text-align: center;
  margin-top: 2vw;
}

.porem {
  text-align: center;
  margin-top: -0.2vw;
}
